<h1>Anatidaephobia simulator!</h1>
<h2>Quack quack</h2>
<h3>Sign in to play</h3>

<form action="/names" method="post">
  <label for="player1">
    Duck 1 please enter your name:
    <input type="text" name="player1"><br>
  </label>
  <label for="player2">
    Duck 2 please enter your name:
    <input type="text" name="player2"><br>
  </label>
  <input type="submit" value="Confirm names">
</form>
